rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /guestbook/{documentId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /visits/{documentId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
  }
}
